<!-- Базовый шаблон главной страницы сайта-->

<!-- templates\base.html -->

<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <title>{% block title %}База рекламаций ОТК{% endblock %}</title>
    <!-- Иконка (логотип) проекта на вкладке браузера -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.png' %}">
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Chart.js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script src="{% static 'js/chart.js' %}"></script>
    <!-- Chart.js DataLabels Plugin -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script> -->
    <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
    <script>
        Chart.register(ChartDataLabels);
    </script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Включаем навигационную панель -->
    {% include 'base_navigation.html' %}

    <!-- Основной контент -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <br>
    <hr class="my-0">  <!-- Горизонтальная линия -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© Dev by Vasilenok Igor - {% now "Y" %} Аналитическая система управления качества</span>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>

<style>
.hover-dropdown {
    display: none;
    top: 100%;
    left: 0;
}

.nav-item:hover .hover-dropdown {
    display: block;
}
</style>