/* ------------- Правило для всех заголовков таблиц --------------- */
#result_list thead th {
    font-size: 9px !important; /* изменяем размер шрифта заголовков в таблице админ-панели */
    /* text-transform: none !important;   отключаем перевод в верхний регистр */
    white-space: normal !important;  /* разрешаем перенос */
    max-width: 250px;  /* максимальная ширина колонки */
    text-align: center !important;  /* центрирование заголовков */
}

/* Границы для всей таблицы и всех ячеек */
#result_list {
    border-collapse: collapse !important;  /* убираем двойные границы между ячейками */
    border: 1px solid #ddd !important;    /* внешняя граница таблицы */
}

#result_list thead th,
#result_list tbody td {
    border: 1px solid #ddd !important;    /* границы для всех ячеек */
    /* padding: 8px !important;   отступы внутри ячеек */
}

/* Выделяем заголовки другим цветом границ */
#result_list thead th {
    border: 1px solid #999 !important;    /* более темные границы для заголовков */
    background-color: #f5f5f5 !important; /* легкий фон для заголовков */
}

/* ---------- Стили для секции "Принятые меры" для внесения данных ----------- */
.measures-section {
    transition: background-color 1s;
    padding: 10px;
    border-radius: 4px;
}

/* ---- Стили для секции "Дата отправки акта исследования" для внесения данных ---- */
.shipment-section {
    transition: background-color 1s;
    padding: 10px;
    border-radius: 4px;
}

/* ------------- Размещаем фильтры в навигационной панели ---------------- */
#changelist-filter {
    width: 100% !important;
    padding: 10px !important;
    background: transparent !important;
    border: none !important;
}

/* Стиль для кнопки сворачивания фильтров */
.filter-toggle {
    background: #417690;
    color: white;
    width: 85% !important;
    display: block !important;
    margin: 0 auto !important;
    padding: 5px 10px !important;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    transform: translateX(-40px) !important;
}

.filter-toggle:hover {
    background: #205067;
}

/* Стили для контента фильтров */
.filter-content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    opacity: 1;
    max-height: 2000px;
}

.collapsed .filter-content {
    opacity: 0;
    max-height: 0;
    margin: 0;
    padding: 0;
}